streamlit
openai
google-generativeai
python-dotenv
pypdf2
langchain
langchain-openai
langchain-community
opencv-python-headless
fpdf2
fastapi
uvicorn[standard]
python-multipart
streamlit_webrtc
prefect
reportlab